<div class="login">
  <mat-card class="login-card center">

    <!-- login-page heading and subheading -->
    <mat-card-content>
      <div>
        <h2 class="heading">Login</h2>
      </div>

      <!-- form-group for entering login credentials -->
      <form class="login-credentials" [formGroup]="loginForm">

        <!-- username input field -->
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="" formControlName="userName">
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>

        <!-- password input field -->
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
      </form>

      <!-- login button for checking login credentials -->
      <div class="submit-button">
        <button mat-raised-button class="full-width" color="primary" (click)="login()">LOGIN</button>
      </div>
      <div class="go-to-register">
        <p (click)="goToRegister()">Register??</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
